<% layout('./boilerplates/de/boilerplate_other') %>
    <%# slika na pocetku %>
        <div class="container-fluid my-0 px-0">
            <div class="top-img-container">
                <div class="top-img">
                    <img id="image" src="/images/img10.png" alt="">
                </div>
            </div>
        </div>
        <%# kontakt informacije plus karta %>
            <div class="container my-5">
                <div class="row">
                    <div class="offset-md-0 col-md-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item lead" align="center"><img src="/icons/telephone.gif"
                                    alt="telephone" width="70" height="70"><br><em>TELEFON<br> +385 21 635 112</em>
                            </li>
                            <li class="list-group-item lead" align="center"><img src="/icons/email.gif" alt="email"
                                    width="70" height="70"><br><em>E-MAIL<br> ordinacija@drtomic.tcloud.hr</em>
                            </li>
                            <li class="list-group-item lead" align="center"><img src="/icons/location.gif"
                                    alt="location" width="70" height="70"><br><em>ADRESSE<br> Loža 4, Bol (Brač)</em>
                            </li>
                            <li class="list-group-item lead" align="center"><img src="/icons/medicine.gif"
                                    alt="medicine" width="70" height="70"><br><em>ARBEITSSTUNDEN<br> Mon-Fre : 08:00
                                    -
                                    19:00 <br>Samstag:
                                    08:00-12:00</em></li>
                        </ul>
                    </div>
                    <div class="offset-md-1 col-md-7 d-flex justify-content-center align-items-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.4891023527907!2d16.65547487479098!3d43.262128177638516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134a843eaede1ce5%3A0x62817822bd64f5d0!2sLo%C5%BEa%20ul.%204%2C%2021420%2C%20Bol!5e0!3m2!1shr!2shr!4v1713772491630!5m2!1shr!2shr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <%# slike %>
                <div class=" mt-5 mx-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <a href="/images/amb/img37.jpg" data-fancybox="gallery" data-caption="Eingang">
                                <img src="/images/amb/img37.jpg" class="w-100 shadow-1-strong rounded mb-4"
                                    alt="Eingang" /></a>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0 mt-5">
                            <a href="/images/amb/img42.jpg" data-fancybox="gallery" data-caption="Eingang">
                                <img src="/images/amb/img42.jpg" class="w-100 shadow-1-strong rounded mb-4"
                                    alt="Eingang" /></a>
                            <a href="/images/amb/vanka.jpg" data-fancybox="gallery" data-caption="Südseite">
                                <img src="/images/amb/vanka.jpg" class="w-100 shadow-1-strong rounded mb-4"
                                    alt="Südseite" /></a>

                        </div>
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <a href="/images/amb/img35.jpg" data-fancybox="gallery" data-caption="Treppe">
                                <img src="/images/amb/img35.jpg" class="w-100 shadow-1-strong rounded mb-4"
                                    alt="Treppe" /></a>
                        </div>
                    </div>
                </div>
                <p class="mx-5 mt-3 mb-5 karma-light lead"><em>ANMERKUNG</em> : Die Arztpraxis befindet sich im ersten
                    Stock Etage, über der Apotheke. Der Eingang ist von der oberen Seite.
                </p>