<% layout('./boilerplates/boilerplate_other') %>
    <div class="container px-0">
        <div class="row">
            <div class="col-md-6">
                <div class="card my-5" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/amb/markica.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Markica Tomić</h5>
                                <p class="card-text">Allgemeinmediziner in der Praxis und Leiter der Praxis für
                                    Touristen in Bol.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-5" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/amb/vesna.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Vesna Tomić</h5>
                                <p class="card-text">Allgemeinmediziner in der Praxis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-5" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/amb/doris.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Doris Mittag</h5>
                                <p class="card-text">Krankenschwester</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-5" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/amb/eni.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Eni Biliš</h5>
                                <p class="card-text">Krankenschwester</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>