<% layout('./boilerplates/de/boilerplate_other') %>
    <div class="turisticka-naslovna">
        <div class="gradient-img">
            <img src="/images/bol2.png" alt="zlatni rat" class="img-fluid" style=" object-fit: cover;">
            <div class="top-div ">
                <div class="text-center text-white">
                    <h2>Wir bieten Touristen Gesundheitsdienstleistungen an. <br>Ihre Gesundheit ist unsere Priorität.
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="turisticka-body karma-light">
        <div class="mt-5 mx-4">
            <p class="display-6 my-5 py-5" align="center"><em>
                    WILLKOMMEN AUF DER OFFIZIELLEN WEBSITE DER ARZTPRAXIS FÜR TOURISTEN IN BOL AUF DER INSEL
                    BRAČ</em>
            </p>
            <section class="mt-5  container">
                <div class="row">
                    <div class=" col-md-7 d-flex align-items-center fs-5 " style="background-color: #e3f2fd;">
                        <figure class="text-center">
                            <p class="px-3 mt-3 text-start">Die Arztpraxis für Touristen ist für Touristen gedacht, die
                                auf der
                                Insel Brač untergebracht sind. Unser Ziel ist es, bei Entzündungen schnell und effizient
                                zu helfen,
                                Verletzungen und anderen gesundheitlichen Problemen, die keinen Krankenhausaufenthalt
                                erfordern. Wir behandeln
                                Kinder und Erwachsene. Nach vorheriger Vereinbarung,
                                Wir führen auch Hausbesuche an Ihrem Aufenthaltsort in Bol durch.
                                Der Arzt spricht fließend Englisch.
                                <br>Kontaktieren Sie uns vertrauensvoll!
                            </p>
                            <figcaption class="blockquote-footer float-end">
                                <em>Ihr Ärzteteam</em>
                            </figcaption>
                        </figure>
                    </div>
                    <div class=" col-md-5 px-0">
                        <div class="image-container">
                            <img src="/images/amb/img16.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </section>
            <section class=" container">
                <div class="row">
                    <div class="col-md-7 px-0 order-2 order-md-1">
                        <div class="image-container">
                            <img src="/images/amb/img41.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                    <div class=" col-md-5 order-1 order-md-2 d-flex justify-content-center align-items-center"
                        style="background-color: #e3f2fd;">

                        <div class="text-center mt-3">
                            <h4>Arbeitszeiten:</h4>
                            <p class="karma-light lead pb-0 mb-0"><em>Juli und August</em></p>
                            <p class="karma-light lead"><em>An Samstagen, Sonntagen und Feiertagen: <br>17:00 -
                                    20:00h</em>
                            </p>
                            <p class="mt-5 fs-4">Eine vorherige Terminvereinbarung ist nicht erforderlich!</p>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <hr class="mt-0">
        <section class="mx-4 mt-5">
            <p class="lead fs-2"><em>Gesundheitsdienstleistungen, die wir anbieten</em> :</p>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/health-checkup.gif" alt="health-checkup" width="70" height="70"><br>
                                Erste Untersuchung<br>Kontrolluntersuchung
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/prescription.gif" alt="prescription" width="70" height="70"><img
                                    src="/icons/pills.gif" alt="pills" width="70" height="70"><br>Ausgabe von Rezepten
                                <br>Ausstellen von Empfehlungen
                                <br>Überweisung zu Spezialisten

                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/glucometer.gif"
                                    alt="glucometer" width="70" height="70"><br> Zuckeruntersuchung</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scar.png"
                                    alt="" width="70" height="70"><br>Nähen der Wunde unter örtlicher Betäubung</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/oximeter.gif"
                                    alt="oximeter" width="70" height="70"><br> Sauerstoffmessung</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/otoscopy.png"
                                    alt="otoscopy" width="70" height="70"><br>Ohruntersuchung
                                <br>Ohrspühlung
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/band-aids.gif"
                                    alt="injury" width="70" height="70"><br>>Wundbehandlung
                            </li>

                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scalpel.gif"
                                    alt="scalpel" width="70" height="70"><br> Behandlung eitriger Prozesse
                                <br>Entfernung von Fremdkörpern aus Auge, Nase, Ohr, Haut und Weichteilen
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/ekg.gif"
                                    alt="ekg" width="70" height="70"><br>EKG</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/vaccine.gif"
                                    alt="vaccine" width="70" height="70"><br>Intravenöse Infusionen <br>Injektionen</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <p class="karma-light lead" align="center"><img src="/icons/house.png" alt="house" width="70" height="70">
                Hausbesuche nach vorheriger Vereinbarung in Bol auf Brač</p>
        </section>
        <p class="lead my-5 mx-5 py-5 fs-3"><em>Gesundheitsleistungen werden nach der von der Gesundheitsbehörde
                zertifizierten Preisliste abgerechnet
                Kroatische Ärztekammer.</em>
        </p>
    </div>