<% layout('./boilerplates/de/boilerplate_other') %>
    <div class="my-5 mx-5">
        <h1>Wir bieten die folgenden medizinischen Dienstleistungen an: </h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list">
                        <li class="list-group-item lead" align="center"><img src="/icons/health-checkup.gif"
                                alt="health-checkup" width="70" height="70"><br>Erste Prüfungen<br>Kontrolluntersuchung
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/prescription.gif"
                                alt="prescription" width="70" height="70"><img src="/icons/pills.gif" alt="pills"
                                width="70" height="70"><br>Ausgabe von Rezepten
                            <br>Ausstellen von Empfehlungen
                            <br>Drucken von Zertifikaten
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/glucometer.gif"
                                alt="glucometer" width="70" height="70"><br>Glukometrie</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/scar.png" alt="" width="70"
                                height="70"><br>Nähen der Wunde unter örtlicher Betäubung</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/oximeter.gif" alt="oximeter"
                                width="70" height="70"><br> Oximetrie</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list-right">
                        <li class="list-group-item lead" align="center"><img src="/icons/otoscopy.png" alt="otoscopy"
                                width="70" height="70"><br>Otoskopie<br>Spülung von Cerumen</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/band-aids.gif" alt="injury"
                                width="70" height="70"><br>Betreuung von Verletzungen<br>Wundbehandlung</li>

                        <li class="list-group-item lead" align="center"><img src="/icons/scalpel.gif" alt="scalpel"
                                width="70" height="70"><br>Inzision eitriger Prozesse
                            <br>Entfernung von Fremdkörpern aus Auge, Nase, Ohr, Haut und Weichteilen
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/ekg.gif" alt="ekg" width="70"
                                height="70"><br>EKG</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/vaccine.gif" alt="vaccine"
                                width="70" height="70"><br>Intravenöse Infusionen <br>Injektionen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>