<% layout('./boilerplates/en/boilerplate_other') %>
    <div class="turisticka-naslovna">
        <div class="gradient-img">
            <img src="/images/bol2.png" alt="zlatni rat" class="img-fluid" style=" object-fit: cover;">
            <div class="top-div ">
                <div class="text-center text-white">
                    <h2>We provide health services to tourists. <br>Your health is our priority.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="turisticka-body karma-light">
        <div class="mt-5 mx-4">
            <p class="display-6 my-5 py-5" align="center"><em>
                    WELCOME TO THE OFFICIAL WEBSITE OF THE TOURIST MEDICAL CLINIC IN BOL ON ISLAND OF BRAČ</em>
            </p>
            <section class="mt-5  container">
                <div class="row">
                    <div class=" col-md-7 d-flex align-items-center fs-5 " style="background-color: #e3f2fd;">
                        <figure class="text-center">
                            <p class="px-3 mt-3 text-start">The tourist medical clinic is intended for tourists located
                                on the
                                island of Brač. Our goal is to provide quick and efficient help with inflammation,
                                injuries and other health problems that do not require hospitalization. We treat
                                children and adults. With prior agreement,
                                we also perform home medical visits at the location where you are stayin in Bol.
                                The doctor fluently speaks English.
                                <br>Contact us with confidence!
                            </p>
                            <figcaption class="blockquote-footer float-end">
                                <em>Your medical team</em>
                            </figcaption>
                        </figure>
                    </div>
                    <div class=" col-md-5 px-0">
                        <div class="image-container">
                            <img src="/images/amb/img16.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </section>
            <section class=" container">
                <div class="row">
                    <div class="col-md-7 px-0 order-2 order-md-1">
                        <div class="image-container">
                            <img src="/images/amb/img41.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                    <div class=" col-md-5 order-1 order-md-2 d-flex justify-content-center align-items-center"
                        style="background-color: #e3f2fd;">

                        <div class="text-center mt-3">
                            <h4>Working hours:</h4>
                            <p class="karma-light lead pb-0 mb-0"><em>July and August</em></p>
                            <p class="karma-light lead"><em>On Saturday, Sunday and holidays: <br>17:00 - 20:00h</em>
                            </p>
                            <p class="mt-5 fs-4">It is not necessary to make an appointment in advance!</p>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <hr class="mt-0">
        <section class="mx-4 mt-5">
            <p class="lead fs-2"><em>Health services we provide</em> :</p>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/health-checkup.gif" alt="health-checkup" width="70" height="70"><br>
                                First examinations<br>Control examination
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/prescription.gif" alt="prescription" width="70" height="70"><img
                                    src="/icons/pills.gif" alt="pills" width="70" height="70"><br>Issuing recipes
                                <br>Issuing referrals
                                <br>Printing of certificates
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/glucometer.gif"
                                    alt="glucometer" width="70" height="70"><br> Glucometry</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scar.png"
                                    alt="" width="70" height="70"><br>Suturing the wound with local anesthesia</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/oximeter.gif"
                                    alt="oximeter" width="70" height="70"><br> Oximetry</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/otoscopy.png"
                                    alt="otoscopy" width="70" height="70"><br>Otoscopy <br>Rinsing of cerumen</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/band-aids.gif"
                                    alt="injury" width="70" height="70"><br>Taking care of injuries <br>Wound treatment
                            </li>

                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scalpel.gif"
                                    alt="scalpel" width="70" height="70"><br> Incision of purulent processes
                                <br>Removal of foreign elements from the eye, nose, ear, skin, soft tissues
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/ekg.gif"
                                    alt="ekg" width="70" height="70"><br> ECG</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/vaccine.gif"
                                    alt="vaccine" width="70" height="70"><br>Intravenous infusions <br> Injections</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <p class="karma-light lead" align="center"><img src="/icons/house.png" alt="house" width="70" height="70">
                Home medical visits by prior arrangement in Bol on Brač</p>
        </section>
        <p class="lead my-5 mx-5 py-5 fs-3"><em>Health services are charged according to the price list certified by the
                Croatian Medical Chamber.</em>
        </p>
    </div>