<% layout('./boilerplates/en/boilerplate_other') %>
    <div class="my-5 mx-5">
        <h1>We provide the following medical services: </h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list">
                        <li class="list-group-item lead" align="center"><img src="/icons/health-checkup.gif"
                                alt="health-checkup" width="70" height="70"><br> First examinations<br>Control
                            examination</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/prescription.gif"
                                alt="prescription" width="70" height="70"><img src="/icons/pills.gif" alt="pills"
                                width="70" height="70"><br> Issuing recipes
                            <br>Issuing referrals
                            <br>Printing of certificates
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/glucometer.gif"
                                alt="glucometer" width="70" height="70"><br> Glucometry</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/scar.png" alt="" width="70"
                                height="70"><br>Suturing the wound with local anesthesia</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/oximeter.gif" alt="oximeter"
                                width="70" height="70"><br> Oximetry</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list-right">
                        <li class="list-group-item lead" align="center"><img src="/icons/otoscopy.png" alt="otoscopy"
                                width="70" height="70"><br>Otoscopy <br>Rinsing of cerumen</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/band-aids.gif" alt="injury"
                                width="70" height="70"><br>
                            Taking care of injuries <br>Wound treatment</li>

                        <li class="list-group-item lead" align="center"><img src="/icons/scalpel.gif" alt="scalpel"
                                width="70" height="70"><br>Incision of purulent processes
                            <br>Removal of foreign elements from the eye, nose, ear, skin, soft tissues
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/ekg.gif" alt="ekg" width="70"
                                height="70"><br> ECG</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/vaccine.gif" alt="vaccine"
                                width="70" height="70"><br>Intravenous infusions <br> Injections</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>