<nav id="mainNavbar" class="navbar fixed-top navbar-expand-md" data-bs-theme="dark">
    <div class="plavi-nav container-fluid px-0 px-md-3">
        <a class="navbar-brand " href="/ambulantabol"><img id="logo" src="/images/logo_prozirno.png" alt="logo">
            <em>ORDINACIJA TOMIĆ, BOL NA BRAČU</em></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%#<a class="nav-link" href="/ambulanta">Naslovna</a>%>
                    <a class="nav-link" href="/ambulantabol/tim">Naš Tim</a>
                    <a class="nav-link" href="/ambulantabol/usluge">Usluge</a>
                    <a class="nav-link" href="/ambulantabol/turisticka">Turistička Ambulanta</a>
                    <a class="nav-link" href="/ambulantabol/galerija">Galerija</a>
                    <a class="nav-link" href="/ambulantabol/kontakt">Kontakt</a>
            </div>
            <div class="ms-auto languages">
                <a href="/ambulantabol">HR</a>
                <span>|</span>
                <a href="/ambulantabol/en/">EN</a>
                <span>|</span>
                <a href="/ambulantabol/en/">DE</a>
            </div>
        </div>
    </div>
</nav>