<nav id="mainNavbar" class="navbar fixed-top navbar-expand-md" data-bs-theme="dark">
    <div class="plavi-nav container-fluid px-0 px-md-3">
        <a class="navbar-brand " href="/ambulantabol/en/"><img id="logo" src="/images/logo_prozirno.png" alt="logo">
            <em>DOCTOR'S OFFICE TOMIĆ, BOL, BRAČ</em></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%#<a class="nav-link" href="/ambulanta">Naslovna</a>%>
                    <a class="nav-link" href="/ambulantabol/en/tim">Our Team</a>
                    <a class="nav-link" href="/ambulantabol/en/usluge">Services</a>
                    <a class="nav-link" href="/ambulantabol/en/turisticka">Tourist medical clinic</a>
                    <a class="nav-link" href="/ambulantabol/en/galerija">Gallery</a>
                    <a class="nav-link" href="/ambulantabol/en/kontakt">Contact</a>
            </div>
            <div class="ms-auto languages">
                <a href="/ambulantabol">HR</a>
                <span>|</span>
                <a href="/ambulantabol/en/">EN</a>
                <span>|</span>
                <a href="/ambulantabol/de/">DE</a>
            </div>

        </div>
    </div>
</nav>