<% layout('./boilerplates/boilerplate_other') %>
    <div class="album mt-5 mx-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="/images/amb/img2.jpg" data-fancybox="gallery" data-caption="Čekaonica">
                    <img src="/images/amb/img2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Čekaonica" /></a>
                <a href="/images/amb/img7.jpg" data-fancybox="gallery" data-caption="Čekaonica">
                    <img src="/images/amb/img7.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Čekaonica" /></a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img3.jpg" data-fancybox="gallery" data-caption="Previjalište">
                    <img src="/images/amb/img3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Previjalište" /></a>
                <a href="/images/amb/img4.jpg" data-fancybox="gallery" data-caption="Previjalište">
                    <img src="/images/amb/img4.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Previjalište" /></a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img5.jpg" data-fancybox="gallery" data-caption="Previjalište">
                    <img src="/images/amb/img5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Previjalište" /></a>
                <a href="/images/amb/img42.jpg" data-fancybox="gallery" data-caption="Čekaonica">
                    <img src="/images/amb/img42.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Čekaonica" />
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="/images/amb/img19.jpg" data-fancybox="gallery" data-caption="Previjalište">
                    <img src="/images/amb/img19.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Previjalište" />
                </a>
                <a href="/images/amb/img24.jpg" data-fancybox="gallery" data-caption="Liječnička ordinacija">
                    <img src="/images/amb/img24.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Liječnička ordinacija" /></a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img9.jpg" data-fancybox="gallery" data-caption="Čekaonica">
                    <img src="/images/amb/img9.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Čekaonica" /></a>
                <a href="/images/amb/img10.jpg" data-fancybox="gallery" data-caption="Ordinacija">
                    <img src="/images/amb/img10.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Ordinacija" /></a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img23.jpg" data-fancybox="gallery" data-caption="Ulaz s ulice">
                    <img src="/images/amb/img23.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Ulica" /></a>
                <a href="/images/amb/img12.jpg" data-fancybox="gallery" data-caption="Liječnička ordinacija">
                    <img src="/images/amb/img12.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Liječnička ordinacija" />
                </a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img15.jpg" data-fancybox="gallery" data-caption="Pogleda s prozora">
                    <img src="/images/amb/img15.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Pogled s prozora" /></a>
                <a href="/images/amb/img16.jpg" data-fancybox="gallery" data-caption="Liječnička ordinacija">
                    <img src="/images/amb/img16.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Liječnička ordinacija" /></a>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="/images/amb/img6.jpg" data-fancybox="gallery" data-caption="Previjalište">
                    <img src="/images/amb/img6.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Previjalište" /></a>

            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="/images/amb/img18.jpg" data-fancybox="gallery" data-caption="Liječnička ordinacija">
                    <img src="/images/amb/img18.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Liječnička ordinacija" />
                </a>
                <a href="/images/amb/img20.jpg" data-fancybox="gallery" data-caption="Pogled s prozora - čekaonica">
                    <img src="/images/amb/img20.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Pogled s prozora - čekaonica" /></a>
            </div>
        </div>
    </div>