<% layout('./boilerplates/boilerplate_index') %>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-pause="{false}">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item gradient-img active">
                <img src="/images/amb/img29.jpg" class="d-block w-100 img-fluid" alt="Čekaonica">

                <div class="carousel-caption d-block text-white lead">
                    <p><em>Zdravstvena skrb za djecu i odrasle</em></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="gradient-img"></div>
                <img src="/images/amb/img30.jpg" class="d-block w-100 img-fluid" alt="Liječnička ordinacija">

                <div class="carousel-caption d-block text-white lead">
                    <p><em>Obratite nam se sa povjerenjem</em></p>
                </div>
            </div>
            <div class="carousel-item gradient-img lead">
                <img src="/images/amb/img26.jpg" class="d-block w-100 img-fluid" alt="Previjalište">
                <div class="carousel-caption  d-block text-white lead">
                    <p><em>Za bezbrižno ljetovanje</em></p>
                </div>
            </div>
            <div class="carousel-item gradient-img lead">
                <img src="/images/amb/img3.jpg" class="d-block w-100 img-fluid" alt="Pogled">
                <div class="carousel-caption d-block text-white lead">
                    <p><em>U centru mjesta poviše ljekarne</em></p>
                </div>
            </div>
            <div class="carousel-item gradient-img lead">
                <img src="/images/amb/img40.jpg" class="d-block w-100 img-fluid" alt="Pogled">
                <div class="carousel-caption d-block text-white lead">
                    <p><em>Nije potrebno prethodno naručivanje</em></p>
                </div>
            </div>
        </div>
    </div>
    <%# tekst od tima %>
        <div id="ostatak" class="container my-5 mx-auto">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p class="karma-light lead"><em>Trudimo se pružiti najbolju zdravstvenu zaštitu
                                    našim opredijeljenim osiguranicima,<br> sezonskim radnicima,
                                    domaćim i stranim turistima. <br>
                                    Obratite nam se sa povjerenjem. <br>
                                    Tu smo zbog vas.</em></p>
                        </blockquote>
                        <figcaption class="blockquote-footer float-end">
                            Vaš liječnički tim
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>