<% layout('./boilerplates/boilerplate_other') %>
    <div class="turisticka-naslovna">
        <div class="gradient-img">
            <img src="/images/bol2.png" alt="zlatni rat" class="img-fluid" style=" object-fit: cover;">
            <div class="top-div ">
                <div class="text-center text-white">
                    <h2>Pružamo zdravstvene usluge turistima. <br>Vaše zdravlje naš je prioritet.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="turisticka-body karma-light">
        <div class="mt-5 mx-4">
            <p class="display-6 my-5 py-5" align="center"><em>
                    DOBRODOŠLI NA SLUŽBENU STRANICU TURISTIČKE AMBULANTE U BOLU NA BRAČU</em>
            </p>
            <section class="mt-5  container">
                <div class="row">
                    <div class=" col-md-7 d-flex align-items-center fs-5 " style="background-color: #e3f2fd;">
                        <figure class="text-center">
                            <p class="px-3 mt-3 text-start">Turistička ambulanta namijenjena je
                                turistima smještenima na području otoka Brača. Naš cilj je pružiti brzu i efikasnu pomoć
                                kod upala, ozljeda i ostalih
                                zdrastvenih problema koji ne zahtijevaju hospitalizaciju. Liječimo djecu i odrasle. Uz
                                prethodni dogovor obavljamo i kućne medicinske
                                posjete na lokaciji na kojoj boravite u Bolu na Braču. Jezik nam nije prepreka jer
                                liječnik odlično komunicira na engleskom jeziku.
                                <br>Obratite nam se sa povjerenjem!
                            </p>
                            <figcaption class="blockquote-footer float-end">
                                <em>Vaš liječnički tim</em>
                            </figcaption>
                        </figure>
                    </div>
                    <div class=" col-md-5 px-0">
                        <div class="image-container">
                            <img src="/images/amb/img16.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </section>
            <section class=" container">
                <div class="row">
                    <div class="col-md-7 px-0 order-2 order-md-1">
                        <div class="image-container">
                            <img src="/images/amb/img41.jpg" alt="zlatni rat" class="img-fluid" style="width: 100%;">
                        </div>
                    </div>
                    <div class=" col-md-5 order-1 order-md-2 d-flex justify-content-center align-items-center"
                        style="background-color: #e3f2fd;">

                        <div class="text-center mt-3">
                            <h4>Radno vrijeme:</h4>
                            <p class="karma-light lead pb-0 mb-0"><em>srpanj i kolovoz</em></p>
                            <p class="karma-light lead"><em>subotom, nedjeljom i blagdanom: 17:00 - 20:00h</em></p>
                            <p class="mt-5 fs-4">Nije potrebno naručivanje!</p>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <hr class="mt-0">
        <section class="mx-4 mt-5">
            <p class="lead fs-2"><em>Zdravstvene usluge koje pružamo</em> :</p>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/health-checkup.gif" alt="health-checkup" width="70" height="70"><br>
                                Prvi pregled <br>Kontrolni pregled
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img
                                    src="/icons/prescription.gif" alt="prescription" width="70" height="70"><img
                                    src="/icons/pills.gif" alt="pills" width="70" height="70"><br>Ispisivanje recepata
                                <br>Ispisivanje uputnica
                                <br>Ispisivanje potvrda
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/glucometer.gif"
                                    alt="glucometer" width="70" height="70"><br> Glukometrija</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scar.png"
                                    alt="" width="70" height="70"><br> Šivanje rane uz lok. anesteziju</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/oximeter.gif"
                                    alt="oximeter" width="70" height="70"><br> Oksimetrija</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush slide-in-list">
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/otoscopy.png"
                                    alt="otoscopy" width="70" height="70"><br>Otoskopija <br>Ispiranje cerumena</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/band-aids.gif"
                                    alt="injury" width="70" height="70"><br>Obrada rane <br>Previjanje</li>

                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/scalpel.gif"
                                    alt="scalpel" width="70" height="70"><br> Incizija gnojnog procesa
                                <br>Ostranjivanje stranih tijela sa kože, sluznice, oka i uha
                            </li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/ekg.gif"
                                    alt="ekg" width="70" height="70"><br> EKG</li>
                            <li class="list-group-item karma-light lead" align="center"><img src="/icons/vaccine.gif"
                                    alt="vaccine" width="70" height="70"><br> Infuzije <br> Injekcije</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <p class="karma-light lead" align="center"><img src="/icons/house.png" alt="house" width="70" height="70">
                Kućne medicinske posjete po prethodnom dogovoru u Bolu na Braču</p>
        </section>
        <p class="lead my-5 mx-5 py-5 fs-3"><em>Zdravstvene usluge se naplaćuju prema cjeniku ovjerenom
                kod Hrvatske Liječničke Komore.</em>
        </p>
    </div>