<% layout('./boilerplates/boilerplate_other') %>
    <div class="my-5 mx-5">
        <h1>Pružamo sljedeće usluge: </h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list">
                        <li class="list-group-item lead" align="center"><img src="/icons/health-checkup.gif"
                                alt="health-checkup" width="70" height="70"><br> Prvi pregled <br>Kontrolni pregled</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/prescription.gif"
                                alt="prescription" width="70" height="70"><img src="/icons/pills.gif" alt="pills"
                                width="70" height="70"><br> Ispisivanje recepata <br>Ispisivanje uputnica
                            <br>Ispisivanje potvrda
                        </li>
                        <li class="list-group-item lead" align="center"><img src="/icons/glucometer.gif"
                                alt="glucometer" width="70" height="70"><br> Glukometrija</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/scar.png" alt="" width="70"
                                height="70"><br> Šivanje rane uz lok. anesteziju</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/oximeter.gif" alt="oximeter"
                                width="70" height="70"><br> Oksimetrija</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush slide-in-list-right">
                        <li class="list-group-item lead" align="center"><img src="/icons/otoscopy.png" alt="otoscopy"
                                width="70" height="70"><br>Otoskopija <br>Ispiranje cerumena</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/band-aids.gif" alt="injury"
                                width="70" height="70"><br>
                            Obrada rane <br>Previjanje</li>

                        <li class="list-group-item lead" align="center"><img src="/icons/scalpel.gif" alt="scalpel"
                                width="70" height="70"><br> Incizija gnojnog procesa <br>Ostranjivanje
                            stranih tijela sa kože
                            i sluznice oka i
                            uha</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/ekg.gif" alt="ekg" width="70"
                                height="70"><br> EKG</li>
                        <li class="list-group-item lead" align="center"><img src="/icons/vaccine.gif" alt="vaccine"
                                width="70" height="70"><br> Infuzije <br> Injekcije</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>